<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Submission{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ "bootstrap.css" | asset_url | stylesheet_tag }}
        <style>
            body {
                padding-top: 50px;
            }
            .starter-template {
                padding: 40px 0px;
            }
        </style>
        <!-- TODO: Complete this project :) -->
    </head>
    <body>
        {% include "navigation" %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        <script src="//code.jquery.com/jquery.min.js"></script>
        {{ "bootstrap.js" | asset_url | script_tag }}
    </body>
</html>