{% block content %}
	<div class="starter-template">
		<h1>Roeleen Marais</h1>
		<p>Account Meta | Submissions | Personality</p>	
	</div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#submit" data-toggle="tab">Submit Something Pretty</a></li>
				<li><a href="#submissions" data-toggle="tab">View All Submissions</a></li>
				<li><a href="#account" data-toggle="tab">My Account</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
						<div class="tab-pane active" id="sumbit">
							<div class="row">
								<div class="col-md-8">
									<h3>Hello</h3>
								</div>

								<div class="col-md-4">
									<div class="jumbotron">
										<h3>FAQ &amp; Guidelines</h3>
									</div>
								</div>
							</div>
						</div><!--/.tab-pane-->

						<div class="tab-pane" id="submissions">
							<div class="row">
								<div class="col-md-12">
									<h3>User view</h3>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>Post Name</th>
												<th>Category</th>
												<th>Keywords</th>
												<th>Status</th>
												<th>Images</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Mark</td>
												<td>Otto</td>
												<td>Otto</td>
												<td>@mdo</td>
												<td>@mdo</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
												<td>@fat</td>
												<td>@fat</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>3</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
											</tr>
										</tbody>
									</table>

									<h3>Admin view</h3>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>Post Name</th>
												<th>Category</th>
												<th>Keywords</th>
												<th>Status</th>
												<th>Images</th>
												<th>Photographer</th>
												<th>Submitter name</th>
												<th>Detail</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Mark</td>
												<td>Otto</td>
												<td>Otto</td>
												<td>Otto</td>
												<td>
													<div class="btn-group">
														<button class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
															Submitted <span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
															<li><a href="#" class="bg-success">Approved</a></li>
															<li><a href="#" class="bg-danger">Rejected</a></li>
															<li><a href="#" class="bg-warning">Error</a></li>
														</ul>
													</div>
												</td>
												<td>@mdo</td>
												<td>@mdo</td>
												
												<td>@mdo</td>
												<td><a href="#" class="text-link">View More <i class="glyphicon glyphicon-arrow-right"></i></a></td>
											</tr>
											<tr>
												<td>2</td>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>Thornton</td>
												<td>Thornton</td>
												<td>@fat</td>
												<td><a href="#"><span class="label label-default">45</span></a></td>
												<td>@fat</td>
												<td>@fat</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>3</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
												<td>@twitter</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div><!--/.tab-pane-->


						<div class="tab-pane" id="account">
							<div class="row">
								<div class="col-md-8">
									<h3>Hello 3</h3>
								</div>

								<div class="col-md-4">
									<div class="jumbotron">
										<h3>Activity</h3>
									</div>
								</div>
							</div>
						</div><!--/.tab-pane-->

					</div>
				</div>
		</div><!--/.tab Content-->
{% endblock %}